ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.city_title {
    cursor: pointer;
}

.city_title:hover {
    background-color: lightgray;
}

.content {
    display: flex;
}

.sidebar {
    flex: 1;
}

.city-menu {
    flex: 4;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.main > * {
    margin: 10px;
    padding: 5px;
    border-style: solid;
}

.tabs {
    display: flex;
}

.tabs > h3 {
    padding: 20px;
}

.tabs > h3:hover {
    background-color: lightgray;
    background-color: lightseagreen;
}

.highlighted {
    background-color: lightgray;
}
